@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}


:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  
  }
}

body {
  background-image: url(../public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  margin: 0;
  @apply h-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  color: rgb(35, 34, 34);
}

li {
  color:rgb(35, 34, 34);
}

h1 {
  color:rgb(35, 34, 34);
}

h2 {
  color:rgb(35, 34, 34);
}